.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.containerInner {
  display: flex;
  align-items: center;
  height: 100%;
}

.infoContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.metricContainer {
  padding: 5px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.containerLic {
  padding: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
}

.lic {
  /* border: solid rgb(0, 0, 0) 1px; */
  background-color: rgba(120, 0, 0, 0.5);
  padding: 2px 10px;
  flex-grow: 1;
}
