.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.topBar {
  box-sizing: border-box;
  min-height: 0;
  max-height: 0;
  transition: all 0.25s;
  overflow: clip;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.settingsButton {
  color: rgba(200, 200, 200);
  opacity: 0.25;
  cursor: pointer;
  font-size: 35px !important;
}

.settingsButton:hover {
  opacity: 1;
}

.settingsColumn {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.settingsRow {
  display: flex;
  align-items: center;
  gap: 10px;
}
