.container {
  box-sizing: border-box;
  width: 180px;
  height: 100%;
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
}

.menuContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.optionContainer {
  padding: 5px;
  padding-left: 10px;
}

.logoContainer {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
