.container {
  box-sizing: border-box;
  width: 180px;
  height: 100%;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* align-items: center; */
}

.row {
  display: flex;
  gap: 5px;
  width: 100%;
}

.optionContainer {
  padding: 5px;
  padding-left: 10px;
}

.logoContainer {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
