.container {
  box-sizing: border-box;
  max-width: 250px;
  width: min-content;
  height: 100%;
  position: relative;
  padding: 5px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* align-items: center; */
  /* background-color: rgb(20, 20, 20); */
}

.pinnedContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pinnedLayout {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pinnedLayout:hover {
  background-color: rgb(30, 30, 30);
}

.selectedPinnedLayout {
  /* background-color: rgb(40, 40, 40); */
  background-color: darkgreen;
  box-shadow: 0 0 10px 5px rgba(50, 150, 50, 0.25);
}

.row {
  display: flex;
  gap: 5px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.avatarButton {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.avatarButton:hover {
  background-color: rgb(40, 40, 40);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionContainer {
  padding: 5px;
  padding-left: 10px;
}

.logoContainer {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settingsBgImg {
  position: absolute;
}

.previewContainer {
  width: 90%;
  margin: auto;
  aspect-ratio: 16 / 9;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.previewWidget {
  width: 75%;
  height: 75%;
}

.layoutIcon, .widgetIcon {
  background-color: none;
  transition: background-color 0.25s;
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.iconImg {
  width: 100%;
  object-fit: contain;
}

.layoutIcon:hover, .widgetIcon:hover {
  background-color: rgb(40, 40, 40);
}
